body{
	background-color: rgb(169,210,160);
}
.title{
	font-size: 70px;
	color: white;
	font-family: sans-serif;
	text-shadow: 2px 4px 5px #666;
	text-align: center;
}
.principal{
	margin: 10px;
	border: 2px solid black;
	background-color:rgb(150,290,140);
	box-shadow: 10px 10px 10px #666;
	border-radius: 5px;
}
.principal2 .texto{
	margin: 10px;
	font-size: 30px;
	text-align: justify;
}
.principal p{
	text-align: center;
	margin: 10px;
	font-size: 40px;
}
.principal2{
	margin: 10px;
	border: 2px solid black;
	background-color:rgb(50,140,305);
	box-shadow: 10px 10px 10px #666;
	border-radius: 5px;
}
.principal2 .texto{
	margin: 10px;
	font-size: 30px;
	text-align: justify;
}
.principal2 p{
	text-align: center;
	margin: 10px;
	font-size: 40px;
}

.principal3{
	margin: 10px;
	border: 2px solid black;
	background-color:rgb(210,20,105);
	box-shadow: 10px 10px 10px #666;
	border-radius: 5px;
}
.principal3 .texto{
	margin: 10px;
	font-size: 30px;
	text-align: justify;
}
.principal3 p{
	text-align: center;
	margin: 10px;
	font-size: 40px;
}